@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.card {
    flex-basis: 31%;
    /* flex-grow: 1; */
    box-shadow: 0px 7px 10px 0px #00000066, 0 -3px 9px 0px #00000066;
    border-radius: 6px;
    padding: 1rem;
}

.car-img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.card h4 {
    margin-bottom: 0;
}


.btn {
    border-radius: 6px;
    border: 1px solid black;
    padding: 6px 10px;
    transition: background-color .3s, box-shadow .1s;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(49 125 224);
    color: white;
    border: 1px solid rgb(27, 95, 183);
}

.btn-primary:hover {
    background-color: rgb(20, 91, 185);
}

.btn-primary:active {
    box-shadow: 4px 4px 0px 0 black;
}

@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
    }

    .car-image, .car-img {
        height: 25vh;
    }
}

/* .car-image {
    height: 100px;
    background-size: cover;
    background-position: center;
} */

/* .car-image-1 {
    background-image: url('pics/img1.jpg');
}

.car-image-2 {
    background-image: url('pics/img2.jpg');
}

.car-image-3 {
    background-image: url('pics/img3.jpg');
} */